*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.root{
    width: 100%;
    display: flex;
   flex-wrap: wrap;
   padding: 10px;
   background-color: black;
   gap: 10px;
   justify-content: center;
}

.box{
   width: 300px;
   height: 200px;
   display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
}